<!-- <div class="d-flex"> -->

<!-- <app-sidebar></app-sidebar> -->

<div class="page-content d-flex align-items-center justify-content-center">
  <!-- Page Body Goes Here -->
  <div class="landing-page-body flex-column">
    <img src="assets/images/page-img.png" class="page-img"/>

    <div class="text-center mb-5">
      <h2 class="fs-1">
        <strong>Welcome to the <br />Youths for Christ Platform</strong>
      </h2>
    </div>

    <div class="d-flex mb-5">
      <button class="btn btn-lg text-white y4c-color" role="button" data-bs-toggle="offcanvas"
        id="side-btn"
        data-bs-target="#offcanvasDarkNavbar"
        aria-controls="offcanvasDarkNavbar"
        aria-label="Toggle navigation"
      >
        Open Channels
      </button>
      <!-- <button (click)="toggleNightMode()" class="btn btn-lg text-white y4c-color" role="button"
                  id="side-btn">
                  Toogle Night Mode
              </button> -->

      <!-- <app-night-mode-toggle></app-night-mode-toggle> -->
    </div>
  </div>
</div>
<!-- </div> -->
