<div class="d-flex">

  <admin-sidebar></admin-sidebar>

  <div class="page-content bg-light-subtle p-3">
      <section class="right-panel">

        <!-- <div class="row mb-5">
          <div class="col-lg-12 col-md-6 col-sm-12 d-flex">
            <div class="col-lg-8 col-md-12 col-sm-12">
              <h1 class="h3 fw-bold">Posts</h1>
            </div>
          </div>
        </div> -->

        <div class="mb-3">
          <div class="d-flex align-items-center">
              <button type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"
                  aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation" class="navbar-toggler">
                  <i class="bi bi-list bi-2x me-3" id="side-btn"></i>
              </button>
              <label class="fs-3 fw-bold">Posts</label>
          </div>
        </div>


          <!-- Beginning of Accounts Section  -->

          <div class="row mb-5">
              <div class="col-lg-6 col-md-12 col-sm-12 d-flex">
                  <!-- <div class="col-lg-4 col-md-4 col-sm-12 me-4">
                      <label class="align-self-center mb-2">From Date</label>
                      <input type="date" class="form-control">
                  </div>

                  <div class="col-lg-4 col-md-4 col-sm-12 me-4">
                      <label class="align-self-center mb-2">To Date</label>
                      <input type="date" class="form-control">
                  </div> -->

                <div class="col-lg-4 col-md-3 col-sm-12">
                  <label class="mb-2">&nbsp;</label>
                  <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">

                      <ng-container *ngIf="!isLoadingPostList">
                        Filter by Status
                      </ng-container>

                      <ng-container *ngIf="isLoadingPostList">
                        <img [src]="imageSpinner" alt="Please Wait ..." style="margin: 10px !important;" class="rounded-circle"
                          width="15" height="15">
                      </ng-container>
                    </button>

                    <ul class="dropdown-menu pointer">
                      <li><a class="dropdown-item" (click)="find_topic_by_status('APPROVED')">Approved</a></li>
                      <li><a class="dropdown-item" (click)="find_topic_by_status('REJECTED')">Rejected</a></li>
                      <li><a class="dropdown-item" (click)="find_topic_by_status('PENDING')">Pending</a></li>
                    </ul>
                  </div>
                </div>
              </div>

          </div>

          <!-- End of Accounts Section  -->


          <!-- Beginning of Table Section  -->
          <div class="d-flex mb-4">
              <h5 id="icons" class="mb-0 fw-bold">Overview</h5>

              <form class="subnav-search d-flex flex-nowrap ms-auto">
                  <div class="input-group">
                      <input type="text" class="form-control search" placeholder="Search By Channel Name"
                          aria-label="search" aria-describedby="basic-addon1" name="searchText" [(ngModel)]="searchText" autocomplete="off" (keyup)="applySearchFilter()">
                      <span class="input-group-text">
                          <i class="bi bi-search"></i>
                      </span>
                  </div>
              </form>
          </div>

          <div class="row mb-5">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <div class="card border-secondary-subtle mb-3">
                <div class="card-body">

                  <div *ngIf="noPostList"
                    class="no-data-text bg-light-grey"
                    style="text-align: center;
                    vertical-align: middle;
                    padding-top: 5%;
                    padding-bottom: 5%;
                    font-weight: bolder;"
                    >
                    No Data
                  </div>

                  <div *ngIf="isLoadingPostList"
                    class="no-data-text bg-light-grey"
                    style="text-align: center;
                    vertical-align: middle;
                    padding-top: 5%;
                    padding-bottom: 5%;
                    font-weight: bolder;"
                    >
                    <table-skeleton-loader></table-skeleton-loader>
                  </div>

                    <div *ngIf="!isLoadingPostList && !noPostList" class="table-responsive border-primary mb-5">
                      <table class="table  table-hover mb-5" style="word-wrap: normal; height: auto;">
                        <thead>
                          <tr>
                            <th>S/N</th>
                            <th>Posted By</th>
                            <th>Date / Time</th>
                            <th>Channel</th>
                            <th>Status</th>
                            <th>Action</th>
                          </tr>
                        </thead>

                        <tbody>

                          <ng-container id="filteredTable" *ngIf="filteredPostList.length > 0">
                            <tr *ngFor="let post of filteredPostList | paginate: { itemsPerPage: 20, currentPage: filteredPostListPage,
                              totalItems:filteredPostListLength}; index as i ">
                                <td>{{ i + 1 }}</td>
                                <td>
                                  <div class="flex-column">
                                    {{ post.ownerName }}
                                  </div>
                                </td>
                                <td>
                                  <div class="flex-column">
                                    {{ post.createdAt | date: 'medium' }}
                                  </div>
                                </td>
                                <td>
                                  <div class="flex-column">
                                    {{ post.parentServerName ? post.parentServerName : 'N/A' }}
                                  </div>
                                </td>
                                <td>
                                  <span [ngClass]="post.status == 'APPROVED' ? 'bg-success-subtle text-success' : (post.status == 'REJECTED' ? 'bg-danger-subtle text-danger' : (post.status == 'PENDING' ? 'bg-warning-subtle text-dark': ''))" class="badge fs-6">{{ post.status }}</span>
                                </td>
                                <td>
                                  <div class="d-flex">
                                    <a (click)="view(post)" class="btn text-white btn-outline-primary btn-sm"
                                      data-bs-toggle="offcanvas" href="#viewReplies-item"
                                      role="button" aria-controls="viewReplies-item">
                                      <span class="mx-3">View</span>
                                    </a>
                                  </div>
                                </td>
                            </tr>
                          </ng-container>

                          <ng-container id="serverTable" *ngIf="filteredPostList.length < 1">
                            <tr *ngFor="let post of postList | paginate: { itemsPerPage: 20, currentPage: postListPage,
                              totalItems:postListLength}; index as i">
                                <td>{{ i + 1 }}</td>
                                <td>
                                  <div class="flex-column">
                                    {{ post.ownerName }}
                                  </div>
                                </td>
                                <td>
                                  <div class="flex-column">
                                    {{ post.createdAt | date:'medium' }}
                                  </div>
                                </td>
                                <td>
                                  <div class="flex-column">
                                    {{ post.parentServerName ? post.parentServerName : 'N/A' }}
                                  </div>
                                </td>
                                <td>
                                  <span [ngClass]="post.status == 'APPROVED' ? 'bg-success-subtle text-success' : (post.status == 'REJECTED' ? 'bg-danger-subtle text-danger' : (post.status == 'PENDING' ? 'bg-warning-subtle text-dark': ''))" class="badge fs-6">{{ post.status }}</span>
                                </td>
                                <td>
                                  <div class="d-flex">

                                    <a (click)="view(post)" class="btn text-white btn-primary btn-sm"
                                      data-bs-toggle="offcanvas" href="#viewReplies-item"
                                      role="button" aria-controls="viewReplies-item">
                                      <span class="mx-3">View</span>
                                    </a>

                                  </div>

                                </td>
                            </tr>
                          </ng-container>

                        </tbody>
                      </table>



                      <div *ngIf="filteredPostList.length > 0" class="d-flex justify-content-between align-items-center mt-4 pt-4">
                        <a>
                          <pagination-controls class="my-pagination" (pageChange)="filteredPostListPage = $event"></pagination-controls>
                        </a>
                      </div>

                      <div *ngIf="filteredPostList.length < 1" class="d-flex justify-content-between align-items-center mt-4 pt-4">
                        <a>
                          <pagination-controls class="my-pagination" (pageChange)="postListPage = $event"></pagination-controls>
                        </a>
                      </div>


                    </div>
                </div>
              </div>
            </div>
          </div>

      </section>
  </div>
</div>

<!-- Slide out window for View Replies  -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="viewReplies-item"
  aria-labelledby="viewReplies-canvas" style="width: 100%; overflow-y: auto;">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="search-canvas">Post Details</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas"
      aria-label="Close"></button>
  </div>

  <div class="offcanvas-body">


    <div class="image-box mb-3">
      <img [src]="viewPost.ownerProfilePic" alt="User Image" class="user_image">
    </div>

    <div class="channel-title mb-3">
      <label class="text-dark-emphasis fw-medium">Posted By</label>
      <h6 class="fw-semibold">{{ viewPost.ownerName }}</h6>
    </div>

    <div class="channel-title mb-3">
      <label class="text-dark-emphasis fw-medium">Date & Time</label>
      <h6 class="fw-semibold">{{ viewPost.createdAt | date:'medium' }}</h6>
    </div>

    <div class="channel-title mb-3">
      <label class="text-dark-emphasis fw-medium">Channel Name</label>
      <h6 class="fw-semibold">
        {{ viewPost.parentServerName ? viewPost.parentServerName : 'N/A' }}
      </h6>

    </div>

    <div class="channel-title mb-3">
      <label class="text-dark-emphasis fw-medium">Replies Count</label>

      <ng-container *ngIf="!isLoadingRepliesCount">
        <h6 class="fw-semibold">{{replies_count}}</h6>
      </ng-container>

        <ng-container *ngIf="isLoadingRepliesCount">
          <img [src]="imageSpinner" alt="Please Wait ..." style="margin: 10px !important;" class="rounded-circle"
            width="15" height="15">
        </ng-container>

    </div>

    <div class="channel-title mb-3">
      <label class="text-dark-emphasis fw-medium">Status</label>
      <h6>
        <span [ngClass]="viewPost.status == 'APPROVED' ? 'text-bg-success' : (viewPost.status == 'REJECTED' ? 'text-bg-danger' : ' text-bg-warning')" class="badge fs-6">{{ viewPost.status }}</span>
      </h6>
    </div>

    <div class="channel-description mb-5">
      <label class="text-dark-emphasis fw-medium mb-1">Message Posted</label>
      <h6 class="text-secondary-emphasis fw-semibold">{{viewPost.topicDesc}}</h6>
    </div>

    <div *ngIf="viewPost.status == 'PENDING'" class=" d-flex align-items-center justify-content-center mb-5">
      <button [disabled]="isLoadingApprovePost || isLoadingRejectPost" (click)="confirmAction('APPROVED')" type="button" class="btn btn-success me-3 col-lg-5 col-md-5 col-sm-12">

        <ng-container *ngIf="!isLoadingApprovePost">
          Approve
        </ng-container>

        <ng-container *ngIf="isLoadingApprovePost">
          <img [src]="imageSpinner" alt="Please Wait ..." style="margin: 10px !important;" class="rounded-circle"
            width="15" height="15">
        </ng-container>
      </button>

      <button [disabled]="isLoadingApprovePost || isLoadingRejectPost" (click)="confirmAction('REJECTED')" type="button" class="btn btn-danger col-lg-5 col-md-5 col-sm-12">

        <ng-container *ngIf="!isLoadingRejectPost">
          Reject
        </ng-container>

        <ng-container *ngIf="isLoadingRejectPost">
          <img [src]="imageSpinner" alt="Please Wait ..." style="margin: 10px !important;" class="rounded-circle"
            width="15" height="15">
        </ng-container>
      </button>

    </div>

  </div>

</div>
